<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
<div class="table-responsive" th:fragment="tabelaCategorias">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Título</th>
                <th class="table-col-acoes"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="categoria : ${categorias}">                    
                <td th:text="${categoria.id}"></td>
                <td th:text="${categoria.titulo}"></td>
                <td class="text-center">
                     <button type="button" class="btn btn-link btn-xs js-btn-excluir-categoria-livro" th:attr="data-id-categoria-livro=${categoria.id}">
                            <i class="glyphicon glyphicon-remove"></i>
                     </button>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(categorias)}">
                <td colspan="5">Nenhuma categoria encontrada</td>
            </tr>
        </tbody>
    </table>
</div>
</html>