<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" th:href="@{/}"> <img th:src="@{/img/weblivraria-icon.png}" width="50px"/> Web Livraria</a>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            
            <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item oferta-color">
                  <a class="nav-link" th:href="@{/ofertas}">Ofertas</a>
                </li>
              <li class="nav-item livro-color">
                  <a class="nav-link" th:href="@{/livros}">Livros</a>
                </li>
              <li class="nav-item autor-color">
                <a class="nav-link" th:href="@{/autores}">Autores</a>
              </li>
              <li class="nav-item editora-color">
                <a class="nav-link" th:href="@{/editoras}">Editoras</a>
              </li>
            </ul>

            <div sec:authorize="isAuthenticated()"> 
                
              
              <a class="btn btn-link text-white" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')"> Painel Admin </a> 
               <a class="btn btn-link text-white" th:href="@{/perfil}" th:utext="${#authentication.principal.usuario.nomeCompleto}"> </a> 
            </div> 
              
            <div sec:authorize="isAnonymous()"> 
               <span class="text-white mr-3"> 
                <a class="btn btn-outline-info text-white" th:href="@{/login}"><i class="fa fa-sign-in-alt"></i>  Entre</a> ou 
                <a class="btn btn-outline-info text-white" th:href="@{/cadastro}"><i class="fa fa-user-edit"></i>  Cadastre-se</a>  
                </span>
            </div>


            <a href="#" class="widget-header border-left pl-3 ml-3 text-white">
              <div class="icontext">
                <div class="icon-wrap icon-sm round border"><i class="fa fa-shopping-cart"></i></div>
              </div>
              <span class="badge badge-pill badge-danger notify">0</span>
            </a>
            
          </div>
          </div>
        </nav>
</header>
</html>