<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout">
<head>
    <title>Cadastro Categoria</title>
</head>
<body>

<th:block layout:fragment="bloco-css">
    <link rel="stylesheet" th:href="@{/css/upload.min.css}" />
    <link rel="stylesheet" th:href="@{/css/wl-style.css}" />
</th:block>

<section layout:fragment="header">
    <h1>Cadastro Categoria</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Cadastro de Categoria</li>
    </ol>
</section>

<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
            <div class="box-tools pull-right">
                <a href="/admin/categorias" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${categoria}" th:action="@{/admin/categorias/save}" method="post">
            <div class="box-body">
                <th:block th:replace="admin/fragments/mensagem-erro-validacao :: mensagemValidacao"></th:block>
                <th:block th:replace="admin/fragments/mensagem-sucesso :: mensagemSucesso"></th:block>

                <input type="hidden" th:field="*{id}"/>

                <div class="row">
            			<div class="col-md-12">
              				<div class="form-group" th:classappend="${#fields.hasErrors('titulo')} ? has-error">
			                    <label for="titulo" class="control-label wl-required">Título</label>
			                    <input type="text" class="form-control" th:field="*{titulo}" id="titulo" />
                			</div>
                		</div>
                </div>

                <div class="row">
            			<div class="col-md-12">
              				<div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
			                    <label for="nome" class="control-label wl-required">Descrição</label>
                                <textarea class="textarea" th:field="*{descricao}" placeholder="Digite alguma descrição aqui"
                          style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            </div>
                		</div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>

<th:block layout:fragment="bloco-js">
	<script th:src="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
	<script>
		$(function() {
            $('.textarea').wysihtml5();
		});
    </script>
 </th:block>
</body>
</html>