<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active treeview">
            <a href="/admin">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="header">LIVRO</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-globe"></i>
                <span>Editoras</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/admin/editoras"><i class="fa fa-circle-o"></i> Pesquisa Avançada</a></li>
                <li><a href="/admin/editoras/add"><i class="fa fa-circle-o"></i> Adicionar nova</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i>
                <span>Autores</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/admin/autores"><i class="fa fa-circle-o"></i> Pesquisa Avançada</a></li>
                <li><a href="/admin/autores/add"><i class="fa fa-circle-o"></i> Adicionar novo</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-tags"></i>
                <span>Categorias</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/admin/categorias"><i class="fa fa-circle-o"></i> Lista de Cetegorias</a></li>
                <li><a href="/admin/categorias/add"><i class="fa fa-circle-o"></i> Adicionar nova</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i>
                <span>Livros</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/admin/livros/"><i class="fa fa-circle-o"></i> Pesquisa Avançada</a></li>
                <li><a href="/admin/livros/add"><i class="fa fa-circle-o"></i> Adicionar novo</a></li>
            </ul>
        </li>
        <li class="header">OFERTAS</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-shopping-basket"></i>
                <span>Ofertas</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="/admin/ofertas/">
                        <i class="fa fa-circle-o"></i> Pesquisa Avançada</a>
                </li>
                <li>
                    <a href="/admin/ofertas/add">
                        <i class="fa fa-circle-o"></i> Adicionar nova</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="/ofertas/books-sem-ofertas">
                <i class="fa fa-warning"></i> Livros sem oferta
                <span></span>
            </a>
        </li>
        <li class="header">USUÁRIOS</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i>
                <span>Usuários</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/admin/usuarios/"><i class="fa fa-circle-o"></i> Lista de Usuários</a></li>
                <li><a href="/admin/usuarios/add"><i class="fa fa-circle-o"></i> Adicionar novo</a></li>
            </ul>
        </li>
        <li class="header">SITE</li>
        <li class="treeview">
            <a href="/" target="_blank">
                <i class="fa fa-eye"></i> <span>Ver Site</span>
            </a>
        </li>
    </ul>
</section>
<!-- /.sidebar -->